<!doctype html>

<html lang="en">

<head>
  <link rel="stylesheet" href="style.css">
  <script src="jquery.js"></script>
  <script src="script.js"></script>
  <meta charset="utf-8">
  <title>Typer</title>
  <meta name="description" content="Main Content">
</head>

<body>
  <h3 id="title_text">Typer</h3>
  <p>Press enter</p>
  <br><br>
  <div id="quotebox"></div>
  <br>
  <div id="author"></div>
  <br><br>
  <textarea id="textbox" disabled></textarea>
  <br><br>
  <h1 id="counter"></h1>
  <br><br>
  <h1 id="count"></h1>

</body>

</html>